@font-face {
    font-family: 'Impact', sans-serif;
    src: url(../fonts/Impact.woff2);
}

p {
    font-size: 18px;
}

body {
    /* font-family: "Impact", sans-serif; */
    color: #ffffff;
    font-size: 22px;
    line-height: 1.2;
}

.header {
    padding-top: 20px;
    position: absolute;
    width: 100%;
    background: linear-gradient(180deg, #01241398 0%,
            rgba(217, 217, 217, 0) 100%);
}

.container {
    max-width: 1220px;
    padding: 20px 10px;
    margin: 0 auto;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-left {
    width: 270px;
    display: flex;
    gap: 0 40px;
    padding-left: 25px;
    padding-right: 25px;
}

.logo {
    width: 110px;
}

.menu-right {
    width: 270px;
    gap: 0 40px;
    padding-left: 25px;
    padding-right: 25px;
}

/* ================ MAIN ================ */
.main-info {
    font-family: 'Impact', sans-serif;
    background-image: url(../img/promo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    text-align: center;
    padding-top: 250px;
}

.title {
    font-size: 96px;
    /* letter-spacing: 0.02em; */
    margin-bottom: 10px;
}

.subtitle {
    font-size: 38px;
    margin-bottom: 10px;
}

.subtitleinfo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0 40px;
    font-size: 35px;
    padding: 10px 0;
    padding-top: 100px;
    color: #00f7fffa;
    border-bottom: 4px solid #00f7fffa;
}

/* ================ FOOTER ================ */

footer {
    background-color: black;
}

.container-footer {
    max-width: 90%;
    padding: 20px 10px;
    margin: 0 auto;
}

.content {
    display: flex;
    justify-content: space-between;
}

.content-info {
    padding: 0 20px;
    font-size: 24px;
}

.bold {
    color: rgb(2, 217, 255);
    font-size: 34px;
}

h2 {
    margin-bottom: 30px;
}

.inst {
    width: 40px;
}

.map {
    width: 100%;
    height: 500px;
    background-color: #333;
}

/* Detele copyright panel from ya.Map */
[class*="copyrights-pane"] {
    display: none !important;
}

/* Delete color from ya.Map */
[class*="ground-pane"] {
    filter: grayscale(1);
}