@media (max-width: 676px) {

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.btn__call {
    width: 120px;
    height: 32px;
    background-color: $green;
    transition: all ease 0.3s;

    font-size: 12px;


    &:hover{
        border: $border;
        background-color: transparent;
    }
}

.btn__more {
    width: 320px;
    height: 62px;
    background-color: transparent;
    transition: all ease 0.3s;

    border: $border-line;


    &:hover{
        border: $border;
        background-color: transparent;
    }
}
}