// * {
// 	border: 1px solid red;
// } 

@font-face {
    font-family: 'NikkyouSans';
    src: url('../fonts/NikkyouSans.ttf');
}

body {
    font-family: "Inter", sans-serif;
    color: $white;

    background-image: url('../img/background.png');
    background-repeat: no-repeat;
    background-size: cover;

    background-color: $black;

    overflow-x: hidden
}

a {
    &:hover {
        color: $green;
        text-decoration: underline;
    }
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.btn__call, .btn__more {
    width: 320px;
    height: 62px;
    background-color: $green;

    &:hover{
        border: $border;
        background-color: transparent;
    }
}

// .btn__more {
//     width: 320px;
//     height: 62px;
//     background-color: $green;

//     &:hover {
//         border: $border;
//         background-color: transparent;
//     }
// }