.buttons_menu {
    margin-top: 150px;
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 0px 60px;

    .btn__food {

    }

    .btn__games {

    }
}

.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 1300px;
    height: 900px;
    transform: translate(-50%, -50%) scale(0.5);
    opacity: 0;
    visibility: hidden;
    transition: transform 0.3s, opacity 0.3s, visibility 0.3s;
    z-index: 9999;
}

.popup.show {
    transform: translate(-50%, -55%) scale(0.9);
    opacity: 1;
    visibility: visible;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0.3s;
    z-index: 9998;
}

.overlay.show {
    opacity: 1;
    visibility: visible;
}
@media screen and (max-width:375) {
    .btn__more {
        display: flex;
    padding: 19px 62px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    }
    .btn__call {
        display: flex;
    padding: 19px 62px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    }
}
