.cards {
    margin-top: 359px;

    .cards__wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-content: space-between;

        gap: 60px;
    }

    .card {

        img {
            padding-bottom: 18px;
        }

    }

    .title-2 {
        @include numeric-2;
        border-top: $border-line;

        padding-top: 26px;
    }

    .subtitle-2 {
        @include caption;
        color: $gray;
    }

}

@media (max-width: $media_sm) {

    .cards {

        .cards__wrapper {
            display: block;
            flex-direction: column;
        }

        .card {
            position: relative;
            margin-left: 120px;
            margin-bottom: 50px;
        }
            img {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding-bottom: 40px;
                width: 100px;
            
            }
        
        .title-2 {
            
        }


}
}