.connect {
}
.connect__wrapper {
    display: grid;
    grid-template-columns: 1fr 2fr;
}
.connect-us {

}
.btn__call {
}
.contacts-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.address-2 {
}
.title-address-2 {
}
.subtitle-address-2 {
}
.social-2 {

}
.title-social-2 {
}
.subtitle-social-2 {
    display: inline-grid;
}
.vk {
}
.inst {
}