.contacts {
    padding-top: 150px;

    .contacts__wrapper {
        display: grid;
        grid-template-columns: 1fr 1.5fr;
    }
    
    .contacts__title-3 {
        @include headline-2;

        margin-top: 150px;
    }
    
    .contacts__info {
        margin-right: 226px;
        gap: 80px;
    }
    
    .address {
    }
    
    .title-address {
        @include headline-4;

        margin-top: 40px;
    }
    
    .subtitle-address {
        @include text;

        margin-top: 16px;
    }
    
    .workstime {
    
    }
    
    .title-workstime {
        @include headline-4;
    
        margin-top: 32px;
    }
    
    .subtitle-workstime {
        @include text;

        margin-top: 16px;
    }
    
    /* Detele copyright panel from ya.Map */
    [class*="copyrights-pane"] {
        display: none !important;
    }
    
    /* Delete color from ya.Map */
    [class*="ground-pane"] {
        filter: grayscale(1) invert(0);
    }
    
    .map {
        margin-left: auto;
    
        width: 1180px;
        height: 680px; 
    }
}

