.footer {
    @include link-title;
    color: $gray;

    margin-top: 27px;
    margin-bottom: 150px;

    .footer__wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr 2fr;
    }
    
    .politic {
        padding-right: 18px;

        cursor: pointer;
    }
    
    .site-map {
        cursor: pointer;
    }

    .copyright {
        text-align: right;
    }
}

