.footer {
    margin-top: 27px;
    margin-bottom: 150px;

    .footer__wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr 2fr;
    }
    
    .politic {
        padding-right: 18px;
    }
    
    .site-map {
    
    }

    .copyright {
        text-align: right;
    }
}

