.header {
    
    .header__wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;

        margin-top: 200px;
    }

    .header__background{
        background-image: url('../img/header-background.png');
        background-repeat: no-repeat;
        background-size: cover;
        position: absolute;
        z-index: -1;
        opacity: 0.2;
        top: 0;
        width: 1920px;
        height: 100vh;

    }

    .title-1 {
        @include header-title;
    }
    
    .subtitle-1 {
        @include text;

        margin-top: 32px;
        text-align: center;
        width: 385px;
    }
    
    .buttons {
        display: flex;
        gap: 60px;
        padding-top: 40px;
    }

}

@media (max-width: $media_sm) {

    .header {

        .header__wrapper {
            margin-top: 50px;
        }

        .title-1 {
            font-size: 48px;
        }

        .subtitle-1 {
            
            
        }
        
        }
        .buttons{
            .btn__call {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 300px;
                height: 56px;
                position: absolute;
            }
            .btn__more {
                display: flex;
                margin-top: 80px;
                width: 300px;
                align-items: center;
                justify-content: center;
                height: 56px;
            }
        }
        
    }



