.nav {
    padding: 50px 200px 50px 200px;

    position: sticky;
    top: 0;
    background-color: rgba(0, 0, 0, 0.24);
    z-index: 11;

    &:hover {
    }

    .nav__row {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .logo {
        width: 59px;
        height: 59px;
    }

    ul {
        display: flex;
        justify-content: space-between;
        text-align: center;
        gap: 2px 36px;
    }
}







