.nav {
    padding: 50px 200px 0px 200px;
    // position: sticky;
    top: 0;
    z-index: 11;

    .nav__row {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .logo {
        width: 59px;
        height: 59px;

        margin-right: 255px;
    }

    ul {
        @include link-title;

        display: flex;
        justify-content: space-between;
        text-align: center;

        li {
        padding-left: 36px;

            &:last-child {
                padding-right: 41px;
            }
        }
    }

}


@media (max-width: $media_sm) {

    .nav {
        padding: 0px;

        .nav__row {

        }

        .logo {
        }

        ul {
            display: block;
        }
    
    }

}









