.nav {
    padding: 50px 200px 0px 200px;

    // position: sticky;
    top: 0;
    z-index: 11;

    .nav__row {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .logo {
        width: 59px;
        height: 59px;

        margin-right: 302px;
    }

    ul {
        display: flex;
        justify-content: space-between;
        text-align: center;
        gap: 36px;

        // margin-left: 302px;
        // margin-right: 41px;
    }

}


@media (max-width: $media_sm) {

    .nav {
        padding: 0px;

        .nav__row {

        }

        .logo {
            margin-right: 10px;
        }

        ul {
            display: block;
        }
    
    }

}









