.news {
    margin-top: 150px;

    .title-3 {
        @include headline-2;
    }
    
    .news__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    
        gap: 60px;
        padding-top: 40px;
    }
    .news__card {
        img {
            width: 360px;
            height: 400px;
        }
    }
    
    .title-news {
        @include headline-3;
        color: $gray;

        margin-top: 20px;


    }
    
    .subtitle-news {
        @include text;
        margin-top: 10px;
    }
}

