.news {
    padding-top: 150px;
}

.title-3 {
    font-family: 'Inter';
    font-weight: 600;
    font-size: 40px;
    line-height: 1.1;
}

.news__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    gap: 60px;
    padding-top: 80px;
}
.news__card {

}

.title-news {
    padding-top: 20px;

    font-family: 'Inter';
    font-weight: 700;
    font-size: 25px;
    line-height: 1.2;
}

.subtitle-news {
    padding-top: 10px;

    font-family: 'Inter';
    font-weight: 400;
    font-size: 18px;
    line-height: 1.3;
}