.prices {
    margin-top: 150px;

    .price__wrapper {
        display: grid;
        grid-template-columns: 35% 65%;
    }
    .price__title {
        @include headline-3;
    }
    
    .price__blocks{
    
    }
    
    .price__list {
        display: grid;
        grid-template-columns: 45% 55%;
    
        border-top: $border-line;
        // border-bottom: $border-line;
        padding: 25px 0px;

        &:last-child {
            border-bottom: $border-line;
        }
    }

    .price__subtitle {
        @include headline-4;
    }
    
    .price__description {
        @include text;
        line-height: 1.6;
        color: $gray;
    }
}
